name: Code Coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
jobs:
  code-coverage:
    uses: vortexntnu/vortex-ci/.github/workflows/reusable-code-coverage.yml@main
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # Set in the repository secrets
